$login-panel-width: 400px;
$login-panel-border-radius: 8px;

.login-view {
  @include app-gradient();
  height: 100%;
}

.login-form-container {
  position: relative;
  height: 100%;
}

.login-form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: $login-panel-width;

  border: 1px solid $white;
  border-radius: $login-panel-border-radius;
}

.login-form {
  position: relative;
  padding: 7 * $spacer 2 * $spacer 2 * $spacer;
}

.login-form-title {
  position: absolute;
  left: 50%;
  top: -$spacer;
  transform: translateX(-50%);
  padding: $spacer;
  margin: 0;
  min-width: 150px;
  text-align: center;
  border-radius: $login-panel-border-radius;

  background-color: $light-blue;
  color: $white;
  font-size: $font-size-big;
  text-transform: uppercase;
}

.login-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: $spacer 1.5 * $spacer;
  border-width: 0;
  border-radius: 0;
  text-align: center;
  width: 100%;
  margin: $spacer 0 0;
  cursor: pointer;

  color: $white;
  text-transform: uppercase;
  background-color: $light-blue;
  font-size: $font-size-normal;

  &:hover {
    background-color: darken($light-blue, 5%);
    box-shadow: 0 1px 5px rgba($black, 0.2);
  }

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}

@media screen and (max-width: $xs) {
  .login-form-container {
    margin: 0 $spacer;
  }

  .login-form-box {
    min-width: auto;
    width: 100%;
  }
}
