.login-view {
  @include app-gradient();
  height: 100%;
}

.login-form-container {
  position: relative;
  height: 100%;
}

.login-form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: $panel-width;

  border: 1px solid $white;
  border-radius: $panel-border-radius;
}

.login-form {
  position: relative;
  padding: 7 * $spacer 2 * $spacer 2 * $spacer;
}

.login-form-title {
  position: absolute;
  left: 50%;
  top: -$spacer;
  transform: translateX(-50%);
  padding: $spacer;
  margin: 0;
  min-width: 150px;
  text-align: center;
  border-radius: $panel-border-radius;

  background-color: $light-blue;
  color: $white;
  font-size: $font-size-big;
  text-transform: uppercase;
}

.login-btn {
  margin: $spacer 0 0;
}

@media screen and (max-width: $xs) {
  .login-form-container {
    margin: 0 $spacer;
  }

  .login-form-box {
    min-width: auto;
    width: 100%;
  }
}
