.form-checkbox {
  position: relative;

  input {
    display: none;
  }

  label {
    margin-bottom: 0;
    padding-left: 2 * $spacer;
    cursor: pointer;
    color: $white;
    font-weight: $font-weight-bold;

    &:after {
      content: "";
      color: $white;
      background: $white;

      position: absolute;
      left: 0;
      top: 0;
      margin: auto;
      width: $spacer;
      height: $spacer;
      border: 0px;
    }
  }

  input:checked + label:after {
    background: $blue;
    box-sizing: border-box;
    border: solid 3px $white;
  }
}
